body{
    margin: 0;
    height: 100%;
}
.left1{
    width: 100px;
    height: 100%;
    background: rgb(29,37,49);
    position: fixed;
}
.left_top{
    position: relative;
    top: 10px;
}
.left_top img{
    margin: 10px 20px;
}
.left_bottom{
    position: fixed;
    bottom: 20px;
    margin: 0 20px;
}
.left_bottom img{
    margin-right: 22px;
}
p{
    margin-top: 0;
    margin-bottom: 0;
}
.left2{
    width: 250px;
    height: 100%;
    background: rgb(34,44,60);
    position: fixed;
    left: 100px
}
.left2_big{
    width: 190px;
    margin: 0 auto;
}
.div1{
    border-bottom: 1px solid #4a4a4a;
    font-size: 12px;
}
.p1{
    color: gray;
    padding: 12px 0;
}
.img1{
    position: absolute;
    left: 203px;
    top: 12px;
}
.p2{
    color: #b1b1b1;
    padding-bottom: 12px;
}
.div1>div{
    color: gainsboro;
    font-size: 14px;
    border: 2px solid #269cb7;
    width: 28px;
    height: 20px;
    border-radius: 45%;
    text-align: center;
    background-color: #269cb7;
    position: absolute;
    left: 187px;
    top: 64px;
}
.img2{
    position: absolute;
    top: 193px;
    left: 204px;
}
.img3{
    position: absolute;
}
#p1{
    padding-left: 30px;
}
#p2{
    padding-left: 30px;
}
#p3{
    padding-left: 30px;
}
#p4{
    padding-left: 30px;
}
.div2{
    font-size: 12px;
}
.img4{
    position: absolute;
    top: 345px;
    left: 204px;
}
.p3{
    color: white;
    padding-bottom: 12px;
}
#div1{
    color: gainsboro;
    font-size: 14px;
    border: 2px solid #269cb7;
    width: 28px;
    height: 20px;
    border-radius: 45%;
    text-align: center;
    background-color: #269cb7;
    position: absolute;
    left: 187px;
    top: 370px;
}
#div2{
    color: gainsboro;
    font-size: 14px;
    border: 2px solid red;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    background-color: red;
    position: absolute;
    left: 196px;
    top: 426px;
}
#p6{
    position: relative;
    top: -16px;
    left: 121px;
}
#p6>span{
    color: #949494;
}
#div3{
    position: fixed;
    bottom: 20px;
    color: white;
}
#div4{
    width: 188px;
    height: 2px;
    border: 1px solid gray;
    position: relative;
    top: -3px;
}
#div4>div{
    width: 50px;
    height: 3px;
    background-color: #af36ec;
}
.right{
    height: 662px;
    margin-left: 350px;
}
#nav{
    height: 80px;
    border-bottom: 1px solid gainsboro;
}
#nav>p{
    position: relative;
    font-size: 23px;
    letter-spacing: 1px;
    color: #a7a4a4;
    padding: 25px 30px;
    width: 105px;
}
#img1{
    position: relative;
    top: 12px;
}
#nav>div{
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
}
#p7{
    position: absolute;
    top: 20px;
    left: 73px;
    color: #04abfb;
    font-weight: 600;
}
#p8{
    position: absolute;
    top: 43px;
    left: 72px;
    font-size: 14px;
    color: #a9a3a3;
}
#img2{
    position: relative;
    left: 145px;
    top: -12px;
}
#nav2{
    height: 60px;
    border-bottom: 1px solid gainsboro;
}
#nav2_left{
    width: 400px;
    height: 60px;
    border-right: 1px solid gainsboro;
}
#nav2_left>input{
    width: 340px;
    height: 35px;
    border: 1px solid gainsboro;
    border-radius: 5px;
    padding: 0;
    margin: 12px 29px;
}
#nav2_left>img{
    position: absolute;
    top: 103px;
    left: 690px;
}
#nav2_right{
    position: absolute;
    top: 77px;
    left: 750px;
    width: 599px;
}
#nav2_right>p{
    font-size: 17px;
    padding: 23px;
    font-weight: 500;
    letter-spacing: 1px;
}
#div5{
    width: 10px;
    height: 10px;
    background-color: #1cda1c;
    border-radius: 50%;
    position: absolute;
    top: 30px;
    left: 140px;
}
#div6{
    position: absolute;
    top: 20px;
    left: 320px;
    padding-right: 10px;
    border-right: 1px solid gainsboro;
}
#div6>button{
    width: 29px;
    height: 29px;
}
#btn2{
    position: relative;
    left: -6px;
    top: -1px;
}
#btn3{
    position: relative;
    left: -11px;
}
#div7{
    position: absolute;
    top: 23px;
    left: 455px;
}
#div7>span{
    font-size: 13px;
    padding-right: 10px;
    color: gray;
}
#div7>button{
    width: 29px;
    height: 29px;
}
#btn4{
    position: relative;
    top: -3px;
}
#btn5{
    position: relative;
    left: -6px;
    top: -3px;
}
#white_left{
    width: 400px;
    height: 100%;
    border-right: 1px solid gainsboro;
    position: absolute;
}
#white_right{
    margin-left: 400px;
    height: 100%;
}
#d1{
    height: 130px;
    border-left: 5px solid #04abfb;
    border-bottom: 1px solid gainsboro;
}
#d1_1 div{
    width: 10px;
    height: 10px;
    background-color: #04abfb;
    border-radius: 50%;
}
#d1_1 span{
    position: relative;
    top: -15px;
    left: 20px;
    color: #04abfb;
    font-weight: 600;
}
#d1_1{
    position: relative;
    top: -55px;
    left: 90px;
}
#d1_p1{
    position: absolute;
    top: 37px;
    left: 95px;
    color: #b9b7b7;
}
#d1>span{
    position: absolute;
    top: 15px;
    left: 355px;
    color: gray;
}
#d1_p2{
    position: absolute;
    top: 75px;
    font-size: 13px;
    left: 24px;
    color: #5d5c5c;
}
#d1_d{
    width: 25px;
    height: 25px;
    background-color: #04abfb;
    position: absolute;
    top: 82px;
    left: 355px;
    text-align: center;
    border-radius: 50%;
    color: white;
}
.d2{
    height: 130px;
    border-bottom: 1px solid gainsboro;
}
.d2>img{
    position: relative;
    top: 7px;
    left: 24px;
}
#d2_1{
    font-weight: 600;
    color: gray;
    position: absolute;
    top: 145px;
    left: 92px;
}
#d2_2{
    position: absolute;
    top: 170px;
    left: 92px;
    color: #aba6a6;
}
#s1{
    position: absolute;
    top: 144px;
    left: 356px;
    color: gray;
}

.d2_3{
    font-size: 13px;
    position: relative;
    top: 22px;
    left: 24px;
    color: #585656;
}
.d2_1{
    font-weight: 600;
    color: gray;
    position: absolute;
    top: 276px;
    left: 92px;
}
.d2_2{
    position: absolute;
    top: 300px;
    left: 92px;
    color: #aba6a6;
}
#s2{
    position: absolute;
    top: 276px;
    left: 308px;
    color: gray;
}
.d3{
    height: 130px;
    border-bottom: 1px solid gainsboro;
}
.d3>img{
    position: relative;
    left: 11px;
    top: -5px;
}
#d3_1{
    position: absolute;
    top: 407px;
    left: 94px;
    font-weight: 600;
    color: gray;
}
#d3_2{
    position: absolute;
    top: 431px;
    left: 93px;
    color: #a2a1a1;
}
.d3>span{
    position: absolute;
    top: 407px;
    left: 308px;
    color: gray;
}
#d3_3{
    font-size: 13px;
    position: relative;
    top: -8px;
    left: 24px;
    color: #585656;
}
#d4_1{
    position: absolute;
    top: 535px;
    left: 94px;
    font-weight: 600;
    color: gray;
}
#d4_2{
    position: absolute;
    top: 560px;
    left: 93px;
    color: #a2a1a1;
}
#s3{
    position: absolute;
    top: 535px;
    left: 333px;
    color: gray;
}
#d4_3{
    font-size: 13px;
    position: relative;
    top: 22px;
    left: 24px;
    color: #585656;
}
.d5{
    height: 130px;
    border-bottom: 1px solid gainsboro;
    border-right: 1px solid gainsboro;
}
.d5>img{
    position: relative;
    top: 7px;
    left: 24px;
}
#d5_1{
    position: absolute;
    top: 665px;
    left: 94px;
    font-weight: 600;
    color: gray;
}
#d5_2{
    position: absolute;
    top: 690px;
    left: 93px;
    color: #a2a1a1;
}
#s4{
    position: absolute;
    top: 665px;
    left: 333px;
    color: gray;
}
#d5_3{
    font-size: 13px;
    position: relative;
    top: 22px;
    left: 24px;
    color: #585656;
}
#d6_1{
    position: absolute;
    top: 795px;
    left: 94px;
    font-weight: 600;
    color: gray;
}
#d6_2{
    position: absolute;
    top: 820px;
    left: 93px;
    color: #a2a1a1;
}
#s5{
    position: absolute;
    top: 795px;
    left: 340px;
    color: gray;
}
#d6_3{
    font-size: 13px;
    position: relative;
    top: 22px;
    left: 24px;
    color: #585656;
}
#top1>img{
    position: relative;
    top: 10px;
    left: 5px;
}
#top11{
    position: absolute;
    top: 165px;
    left: 840px;
    font-weight: 600;
    color: gray;
}
#top1>span{
    color: gray;
    position: absolute;
    top: 165px;
    left: 950px;
}
#top12{
    font-size: 13px;
    margin-left: 91px;
    position: relative;
    top: -20px;
}
#top2>img{
    position: relative;
    left: 23px;
}
#top21{
    font-weight: 600;
    color: gray;
    position: absolute;
    top: 290px;
    left: 840px;
}
#top2>span{
    color: gray;
    position: absolute;
    top: 290px;
    left: 980px;
}
#top22{
    font-size: 13px;
    margin-left: 91px;
    position: relative;
    top: -20px;
}
#top{
    border-bottom: 1px solid gainsboro;
}
#day{
    width: 100px;
    text-align: center;
    background-color: white;
    position: relative;
    top: 11px;
    left: 285px;
    color: #a7a1a1;
}
#bot1>img{
    position: relative;
    top: 10px;
    left: 5px;
}
#bot11{
    position: absolute;
    top: 540px;
    left: 840px;
    font-weight: 600;
    color: gray;
}
#bot1>span{
    color: gray;
    position: absolute;
    top: 540px;
    left: 950px;
}
#bot12{
    font-size: 13px;
    margin-left: 91px;
    position: relative;
    top: -20px;
}
#bot2>img{
    position: relative;
    left: 23px;
}
#bot21{
    font-weight: 600;
    color: gray;
    position: absolute;
    top: 630px;
    left: 840px;
}
#bot2>span{
    color: gray;
    position: absolute;
    top: 630px;
    left: 980px;
}
#bot22{
    font-size: 13px;
    margin-left: 91px;
    position: relative;
    top: -20px;
}
#img3{
    padding-left: 91px;
    padding-right: 10px;
}
#pic{
    width: 156px;
    height: 100px;
    position: absolute;
    top: 800px;
    left: 1012px;
    background: rgba(0,0,0,0.5);
}
#pic>div{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: rgba(220,220,220,0.5);
    position: relative;
    top: 23px;
    left: 52px;
}
#pic div img{
    position: relative;
    top: 18px;
    left: 20px;
}
#bottom{
    border-bottom: 1px solid #16cfe2;
    padding-bottom: 30px;
}
#newm{
    color: #16cfe2;
    width: 170px;
    text-align: center;
    position: absolute;
    top: 924px;
    left: 985px;
    background: white;
}
#new>img{
    position: relative;
    top: 10px;
    left: 5px;
}
#new1{
    font-weight: 600;
    color: gray;
    position: absolute;
    top: 960px;
    left: 840px;
}
#new>span{
    color: gray;
    position: absolute;
    top: 960px;
    left: 980px;
}
#new2{
    font-size: 13px;
    margin-left: 91px;
    position: relative;
    top: -20px;
}
#new div button{
    width: 60px;
    height: 60px;
    position: relative;
    left: 24px;
}
#new div input{
    height: 54px;
    width: 490px;
    position: relative;
    left: 18px;
    top: -1px;
}